.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.modal {
  background: #252526;
  padding: 35px;
  border-radius: 14px;
  max-width: 700px;
  width: 90%;
  max-height: 85vh;
  overflow-y: auto;
  animation: pop 0.25s ease;
  border: 1px solid #3c3c3c;
  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
}

@keyframes pop {
  from { transform: scale(0.85); opacity: 0; }
  to   { transform: scale(1); opacity: 1; }
}

.close {
  position: absolute;
  right: 12px;
  top: 12px;
  background: #e51400;
  color: white;
  border: none;
  border-radius: 8px;
  width: 36px;
  height: 36px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  background: #ff2600;
}

.modal-img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
}

.summary {
  line-height: 1.7;
  font-size: 1.1rem;
  margin-bottom: 15px;
  color: #e0e0e0;
}


.back-btn {
  background: #007acc;
  border: none;
  padding: 10px 16px;
  color: white;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.25s;
}

.back-btn:hover {
  background: #3399ff;
}
